@font-face {
    font-family: 'Kalam';
    src: URL(../fonts/Kalam-Regular.ttf) format('ttf');
}
body{
    margin: 0!important;
    height: 100%!important;
    font-family: 'Kalam' !important;
}
/*#herb {
    background-image: url("../images/krakowHerb.png")!important;
    width: 40px;height: 55px!important;
    margin: 0 auto;
}*/